# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_RISCV32_PPU=y
CONFIG_SOC_RISCV32_PPU=y
CONFIG_BOARD_PPU32=y
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_PRINTK=y
CONFIG_UART_NS16550=y
#CONFIG_UART_PPU=y
CONFIG_UART_CONSOLE=y
CONFIG_PLIC=n
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_GPIO=n
CONFIG_XIP=y
CONFIG_SYS_CLOCK_TICKS_PER_SEC=10000000
CONFIG_MULTITHREADING=n
