# RISCV32_PPU implementation

# Copyright (c) 2018 Antmicro <www.antmicro.com>
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RISCV32_PPU
	bool "Microsemi Mi-V implementation"
	select RISCV
	select SOC_FAMILY_RISCV_PRIVILEGE
	help
	  Enable support for Microsemi Mi-V
